<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Candidatura de Miguel Ángel Buñuales empleo en esPublico</h1>
    <p>Este es el resultado de la prueba técnica requerida para mi candidatura laboral en esPublico.</p>

    <p>La arquitectura de la aplicación está basada en spring 3.0, empleando las herramientas de spring boot para que se ejecute la aplicación en
    un servidor ligero y poder disponer también de la posibilidad de servir contenido html a través del framework MVC de thymeleaf y por último
    la capa de persistencia de spring 3.0 basada en Hibernate para conectar con la BBDD.</p>

    <p>Se ha empleado una BBDD MariaDB alojada en un servicio de Amazon Web Services para poder acceder a ella por mí o por cualquier otra persona para su evaluación.
    </p>
    <p style="text-decoration: bold">Comando para crear el .jar</p>
    <p>MVNW clean -Dbbddusername=esuser -Dbbddpassword=esPublico clean install</p>
    <p style="text-decoration: bold">Comando ejecutar el .jar y arrancar la aplicación</p>
    <p>java -Dbbddusername=esuser -Dbbddpassword=esPublico -jar espublico-0.0.1-SNAPSHOT.jar</p>
    <h2 ><a href="/pedidos/">Carga de ficheros</a></h2>

    <h2 ><a href="/sw/">REST Star wars</a></h2>
    El objetivo era crear una estructura de BBDD para los objetos Film, People y Starship. 
    <h3>Diagrama de datos</h3>
    <img href="http://localhost:8080/esquemaDeDatos.png" alt="Diagrama de datos de la BBDD"/>
</body>
</html>