<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/sw/">Volver</a>
    <h1>listado de personajes</h1>
    <ul >
        <li th:each="people, iter:${personajes}" th:class="${iter.odd}? 'odd'">
            <p onclick="toggleListado(this);" style="hover: pointer"><span th:text="${people.name}">Nombre del personaje</span>&nbsp;(<span th:text="${#lists.size(people.filmList)}">Apariciones en películas</span>&nbsp;Apariciones)</p>
            <ul  style="display:none">
                <li th:each="film, iter:${people.filmList}" th:class="${iter.odd}? 'odd'" >
                    <span th:text="'Episode'+${film.episode_id}+': '+${film.title}">Título de la película</span>
                </li>
            </ul>
        </li>
    </ul>

    <a href="/sw/">Volver</a>
<script>
    function toggleListado(element){
        var node = element.nextSibling.nextSibling;
        if (node.style.display === "none") {
            node.style.display = "block";
        } else {
            node.style.display = "none";
        }
    }
</script>
</body>
</html>