<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>listado de personajes</h1>
    <ul th:each="people, iter:${personajes}" th:class="${iter.odd}? 'odd'">
        <li >
            <p th:text="${people.name}">Personaje</p>
            <ul th:each="film, iter:${people.filmList}" th:class="${iter.odd}? 'odd'">
                <li th:text="${film.title}"></li>
            </ul>
        </li>
    </ul>
    <h1>listado de Películas</h1>
    <ul th:each="film, iter:${peliculas}" th:class="${iter.odd}? 'odd'">
        <li>
           <input type="checkbox" th:="${film.title}"/>
        </li>
    </ul>


</body>
</html>