<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>listado de personajes</h1>
    <ul >
        <li th:each="people, iter:${personajes}" th:class="${iter.odd}? 'odd'">
            <p onclick="toggleListado(this);" style="hover: pointer"><span th:text="${people.name}">Nombre del personaje</span>&nbsp;(<span th:text="${#lists.size(people.filmList)}">Apariciones en películas</span>&nbsp;Apariciones)</p>
            <ul  style="display:none">
                <li th:each="film, iter:${people.filmList}" th:class="${iter.odd}? 'odd'" >
                    <span th:text="'Episode'+${film.episode_id}+': '+${film.title}">Título de la película</span>
                </li>
            </ul>
        </li>
    </ul>
    <form action="/buscarPiloto">
    <h1>listado de Películas</h1>
    <ul >
        <li th:each="film, iter:${peliculas}" th:class="${iter.odd}? 'odd'">
           <input type="checkbox" name="episode" th:value="${film.episode_id}" th:text="'Episode'+${film.episode_id}+': '+${film.title}"/>
        </li>
    </ul>
    <button type="submit">Buscar piloto</button>
    </form>
    <div th:if="${not #lists.isEmpty(pilotoNave)}">
    <h1 th:text="${pilotoNave[0].shipName}">La nave del misterio</h1>
    <ul >
        <li th:each="fps, iter:${pilotoNave}" th:class="${iter.odd}? 'odd'">
            <p>En <span th:text="${fps.title}">pelicula</span> la pilotaba <span th:text="${fps.pilotName}">este piloto</span></p>
        </li>
    </ul>
<script>
    function toggleListado(element){
        var node = element.nextSibling.nextSibling;
        if (node.style.display === "none") {
            node.style.display = "block";
        } else {
            node.style.display = "none";
        }
    }
</script>
</body>
</html>