<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>test starwars rest</h1>
    <h2 th:text="'url, '+${ship.url}">Episode title</h2>
    <h2 >Characters</h2>
    <ul th:each="film, iter:${ship.films}" th:class="${iter.odd}? 'odd'">
        <li th:text="${film}"></li>
    </ul>
    <h2 >Starships</h2>
    <ul th:each="pilot, iter:${ship.pilots}" th:class="${iter.odd}? 'odd'">
        <li th:text="${pilot}"></li>
    </ul>
</body>
</html>