<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>test starwars rest</h1>
    <h2 th:text="'EPISODE, '+${film.episode_id}">Episode title</h2>
    <h2 th:text="'Title, '+${film.title}">Episode title</h2>
    <h2 th:text="${film.opening_crawl}">Episode title</h2>
    <h2 th:text="'director, '+${film.director}">Episode title</h2>
    <h2 th:text="'producer, '+${film.producer}">Episode title</h2>
    <h2 th:text="'release_date, '+${film.release_date}">Episode title</h2>
    <h2 th:text="'edited, '+${film.edited}">Episode title</h2>
    <h2 th:text="'url, '+${film.url}">Episode title</h2>
</body>
</html>